h1 {
  font-size: 4rem;
}
.card-title,
h1 {
  font-family: Edu Tas Beginner;
  font-weight: 700;
}
time {
  font-family: Sometype Mono;
  color: #959fa7;
}
#full-card {
  border-color: white;
  box-shadow: 2px 2px 6px #00000093;
}
.main-background {
  background-image: url(./img/cork.png);
}
.header-background {
  background-image: url(./img/wall.png);
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 850px;
    width: 100%;
  }
}
