h1 {
  font-size: 4rem;
}
.card-title,
h1 {
  font-family: Edu Tas Beginner;
  font-weight: 700;
}
time {
  font-family: Sometype Mono;
  color: #959fa7;
}
#full-card {
  border-color: white;
  box-shadow: 2px 2px 6px #00000093;
  cursor: pointer;
}
#open-image {
  height: 450px;
  width: 450px;
}
#close-icon {
  color: white;
}
#close-icon:hover {
  cursor: pointer;
}
.main-background {
  background-image: url(./img/cork.png);
}
.header-background {
  background-image: url(./img/wall.png);
}
#overlay {
  inset: 0;
  background-color: rgba(0, 0, 0, 0.239);
  backdrop-filter: blur(3px);
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 850px;
    width: 100%;
  }
  #full-card:hover {
    transition-duration: 0.7s;
    transition-property: transform;
    transform: scale(1.1) rotate(10deg);
    z-index: 2;
    cursor: pointer;
    box-shadow: 5px 5px 10px #00000093;
  }
}
